.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xenopus-phenotype-ontology.iml
*.tmp
*.tmp.obo
*.tmp.owl
*.tsvBK
bin/
/catalog-v001.xml
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/target/
src/ontology/target/
src/ontology/xpo-base.*
src/ontology/xpo-full.*
src/ontology/xpo-simple.*
src/ontology/xpo-simple-non-classified.*
src/ontology/xpo.obo
src/ontology/xpo.owl
src/patterns/anatomy_seed.txt
src/patterns/data/anatomy/*.txt
src/patterns/data/manual/*.txt
src/patterns/dosdp-tools.log
src/patterns/editseed.txt
src/patterns/imports/seed_sorted.txt
src/patterns/reserved_iris.txt
src/patterns/tmp
src/patterns/xpo.csv
patterns/catalog-v001.xml
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
