src/ontology/reports/
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xenopus-phenotype-ontology.iml
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
*.tsvBK
/catalog-v001.xml
bin/
patterns/catalog-v001.xml
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-xpo-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/seed.txt
src/ontology/simple_seed_xenbase.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md
src/ontology/xpo-base.*
src/ontology/xpo-basic.*
src/ontology/xpo-full.*
src/ontology/xpo-simple-non-classified.*
src/ontology/xpo-simple.*
src/ontology/xpo.json
src/ontology/xpo.obo
src/ontology/xpo.owl
src/patterns/all_pattern_terms.txt
src/patterns/anatomy_seed.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/data/anatomy/*.txt
src/patterns/data/manual/*.txt
src/patterns/dosdp-tools.log
src/patterns/editseed.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
src/patterns/reserved_iris.txt
src/patterns/tmp
src/patterns/xpo.csv
src/ontology/reports/trailing-whitespace-violation.csv
