*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/xpo.obo
src/ontology/xpo.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
.DS_Store
catalog-v001.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xenopus-phenotype-ontology.iml
src/patterns/anatomy_seed.txt
src/patterns/anatomy_seed.txt
src/patterns/editseed.txt
src/patterns/reserved_iris.txt
src/patterns/dosdp-tools.log
